<header class="bg-primary text-center">
	<div class="container">
		<!-- img header -->
		<img src="../../assets/image/img-banner.svg" alt="" width="250">
		<!-- title header -->
		<h1 class="title mt-3">START BOOSTRAP</h1>
		<!-- border diveder -->
		<div class="d-flex justify-content-center m-3">
			<div class="diveder-line m-2"></div>
			<div class="diveder-icon m-2">
				<img src="../../assets/image/star.png" alt="" width="40">
			</div>
			<div class="diveder-line m-2"></div>
		</div><!-- and border diveder -->
		<!-- text header -->
		<p class="text-header mt-5">Graphic Artist - Web Designer - Illustrator</p>
	</div>
</header>
