<section class="bg-primary">
    <div class="container">
		<h1 class="title text-center">ABOUT US</h1>
		<div class="d-flex justify-content-center m-3">
			<div class="diveder-line m-2"></div>
			<div class="diveder-icon m-2">
			<img src="../../assets/image/star.png" alt="" width="40">
			</div>
			<div class="diveder-line m-2"></div>
		</div> 
		<div class="row mt-5 mb-5">
			<div class="col-md-8 offset-md-2">
				<div class="row">
					<div class="col-md-12 col-lg-6">
						<p class="text-about">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
					</div>
					<div class="col-md-12 col-lg-6">
						<p class="text-about">can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p> 
					</div>
				</div>
			</div>
		</div>
		<button class="btn about-btn m-auto">
			<img src="../../assets/image/download.png" alt="" width="20">
			Free Download!
		</button>
    </div>
</section>
