<nav class="navbar navbar-expand-lg navbar-light p-4">
	<div class="container">
		<!-- navbar brand -->
		<a class="navbar-brand" href="#">START BOOTSTRAP</a>
		<!-- btn toggle navbar -->
		<button class="navbar-toggler" type="button" id="navToggle">
			<!-- <span class="btn-menu"></span> -->
			<img src="../../assets/image/menu.png" alt="" width="30">
		</button>
		<!-- navbar -->
		<div class="nav navbar-nav navbar-right" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="#">Home</a>
				<a class="nav-item nav-link" href="#">Features</a>
				<a class="nav-item nav-link" href="#">Pricing</a>
			</div>
		</div> <!-- and navbar -->
	</div>
</nav>
