<section>
	<div class="container">
		<!-- title contact -->
		<h1 class="title text-center">CONTACT ME</h1>
		<!-- border diveder -->
		<div class="d-flex justify-content-center m-3">
			<div class="diveder-line m-2"></div>
				<div class="diveder-icon m-2">
					<img src="../../assets/image/star2.png" alt="" width="40">
				</div>
			<div class="diveder-line m-2"></div>
		</div> <!-- and border diveder -->
		<div class="row mt-5">
			<div class="col-md-8 offset-md-2">
				<!-- form input contact -->
				<form>
					<!-- input name -->
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Name">
					</div>
					<!-- input email addres -->
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Email Address">
					</div>
					<!-- input hone number -->
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Phone Number">
					</div>
					<!-- textarea massage -->
					<div class="form-group">
						<textarea type="text" class="form-control" placeholder="Massage" rows="5" id="comment"></textarea>
					</div>
					<button type="submit" class="btn contact-btn mt-3">Send</button>
				</form> <!-- and form contact -->
			</div>
		</div>
	</div>
</section>
