<section class="text-center">
  <div class="container">
    <h1 class="title">FORTFOLIO</h1>
    <div class="d-flex justify-content-center m-3">
      <div class="diveder-line m-2"></div>
      <div class="diveder-icon m-2">
        <img src="../../assets/image/star2.png" alt="" width="40">
      </div>
      <div class="diveder-line m-2"></div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 col-lg-4 mt-4">
        <div class="item-fortfolio">
          <a href="#" class="img-fortfolio">
            <img src="../../assets/image/img-fortfolio1.png" alt="" width="100%">
          </a>
          <div class="display-hover">
            <img src="../../assets/image/add.png" alt="" width="50">
          </div>
		    </div>
      </div>
      <div class="col-md-6 col-lg-4 mt-4">
        <img src="../../assets/image/img-fortfolio2.png" alt="" width="100%" class="img-fortfolio">
      </div>
      <div class="col-md-6 col-lg-4 mt-4">
        <img src="../../assets/image/img-fortfolio3.png" alt="" width="100%" class="img-fortfolio">
      </div>
      <div class="col-md-6 col-lg-4 mt-4">
        <img src="../../assets/image/img-fortfolio4.png" alt="" width="100%" class="img-fortfolio">
      </div>
      <div class="col-md-6 col-lg-4 mt-4">
        <img src="../../assets/image/img-fortfolio5.png" alt="" width="100%" class="img-fortfolio">
      </div>
      <div class="col-md-6 col-lg-4 mt-4">
        <img src="../../assets/image/img-fortfolio6.png" alt="" width="100%" class="img-fortfolio">
      </div>
    </div>
  </div>
</section>
